
Flask
opencv-python
insightface
numpy==1.25.2
scikit-learn
secure-smtplib
onnxruntime
# Data handling
pandas==2.1.1  # if you handle CSVs
python-dotenv
pymongo
dnspython 
Pillow
Werkzeug


